<p id="notice"><%= notice %></p>

<h1>Autos</h1>

<table style="border: 1px solid;">
  <thead>
    <tr>
      <th>Marca</th>
      <th>Modelo</th>
      <th>Año</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cars.each do |car| %>
      <tr>
        <td><%= car.make %></td>
        <td><%= car.model %></td>
        <td><%= car.year %></td>
        <td><%= link_to 'Mostrar', car %></td>
        <td><%= link_to 'Editar', edit_car_path(car) %></td>
        <td><%= link_to 'Destruir', car, method: :delete, data: { confirm: 'Está seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Agregar auto', new_car_path %>
